* {
    font-family: Montserrat;
    text-decoration: none;
    margin: 0;
    padding: 0;
    cursor: default;
    transition: 0.6s ease-in-out;

}

body {
    width: 100vw;
    margin: 0;
}

ul li {
    list-style: none;
}

header {
    background-color: #EFF8ED;


}

a {
    cursor: pointer;
}

/* header section */
.navbar {
    margin: auto;
    max-width: 1222px;
    display: flex;

    height: 5.6rem;
    align-items: center;
    gap: 2rem;

}

.nav-sec1 {

    display: flex;
    justify-content: space-around;

}

.nav-sec1 h3 {
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1px;
    text-align: left;
    color: #252B42;
    margin: 0px 0.5rem;
}

.nav-sec2 {

    gap: 17rem;
    display: flex;
    align-items: center;
    justify-content: space-around
}

.nav-sec2 ul li a {

    font-size: 1rem;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    color: #737373;

}

.nav-butttons {
    display: flex;
    gap: 0.2rem;
    justify-content: space-between;
}

.nav-links {
    max-width: 17.1rem;
}

.nav-links ul {
    max-width: 19rem;
    display: flex;
    justify-content: space-around;
    gap: 1.2rem;
}

button {
    color: #96BB7C;
    background-color: transparent;
    border: 1px solid #96BB7C;
    font-size: 12px;
    background-color: transparent;
    width: 140px;
    border-radius: 5px;
    padding: 16px 0px;
    transition: 0.4s ease-in-out;
    cursor: pointer;

}



button:hover {
    border: none;
    font-size: 12px;
    background-color: #96BB7C;
    color: #fff;
    width: 140px;
    border-radius: 5px;
    padding: 16px 0px;
    transition: 0.4s ease-in-out;

}

button:hover span {
    color: white;
}

.buttonone {
    background-color: transparent;
    color: #96BB7C;
    border: none;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;

}


.buttontwo {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #ffffff;
    border: none;
    background-color: #96BB7C;

    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;

}


.buttontwo span {
    font-size: 18px;
    font-weight: 100;
    color: #ffffff;

}

.btn-hover-style1:hover {
    border: 1px solid;
    border-color: #96BB7C;
    background-color: transparent;
    transition: 0.4s ease-in-out;
    color: #96BB7C;
}

.btn-hover-style1:hover span {
    color: #96BB7C;
    transition: 0.4s ease-in-out;
}

.btn-hover-style1 span {

    transition: 0.4s ease-in-out;
}

.btn-hover-style1 {
    border: 1px solid;
    border-color: transparent;
    transition: 0.4s ease-in-out;
}


.explaination-left {
    max-width: 574px;
    display: flex;
    column-gap: 50px;
    align-items: start;
    flex-direction: column;
    gap: 5px;
}

.banner-left {
    margin: auto;
}

.explaination-text h1 {


    font-size: 64px;
    font-weight: 680;
    line-height: 92px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;

}

.explaination-text h6 {

    color: #96BB7C;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;


}

.container-secondary {
    max-width: 1440px;
    margin: auto;
    padding: 0px 1rem;
}

.banner {
    color: #252B42;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.explaination-left {
    display: flex;
    gap: 30px;
}

.explaination-left h1 {

    font-size: 2.2rem;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #252B42;

}

.explaination-left h6 {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
    color: #96BB7C;
}

.explaination-para {
    line-height: 30px;
    font-size: 20px;
    max-width: 458px;
}

.explaination-para p {
    font-size: 20.5px;
    font-weight: 550;
    color: #737373;
}

.forground-pic {
    display: flex;
    justify-content: center;
    align-items: center;

}

.forground-pic img {
    width: 100%;
}

.explaination-button {
    display: flex;
    gap: 10px;
}

.explaination-button button {
    font-weight: 600;
    font-size: 16px;
    width: 193px;
}

.container {
    max-width: 1050px;
    margin: 0px auto;
    background-color: transparent;


}

.section2 {
    display: flex;
    flex-direction: column;
    gap: 112px;
    padding: 119px 0px;
}

.cards-div {
    max-width: 1050px;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: wrap;

}






.card {
    max-width: 159px;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 35px 45px;
    gap: 20px;
    background-color: #ffffff;
    transition: 0.5s ease-in-out;
    box-shadow: 5px 5px 20px 5px #f1f1f1;


}

.sec-2-para {
    font-size: 14px;
}

.card p {

    font-size: 14px;
    font-weight: 550;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #737373;
    transition: 0.2s ease-in-out;
}

.card h4 {
    width: 153px;

    transition: 0.3s ease-in-out;
}

.sec2width {
    max-width: 100%;
}

.sec2width h1 {
    max-width: 500px;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;


}

.sec2width p {
    max-width: 490px;
    font-size: 14px;
    font-weight: 550;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;

}

.card:hover {
    scale: 1.1;
    background-color: #96BB7C;

}

.card:hover p {

    color: #ffffff;
}

.card:hover h4 {
    color: #fff;
}

.card:hover img {

    scale: 1.5;
}

.card img {
    transition: 0.5s;
}

.section3 {

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 150px 0px;
}

.section3 .red-box {
    width: 97px;
    height: 7px;
}

.red-box {
    width: 48px;
    height: 1px;
    gap: 0px;
    opacity: 0px;
    background: #E74040;
    transition: 0.4s ease-in-out;

}

.card:hover .red-box {
    background: #ffffff;
    transition: 0.4s ease-in-out;
}

.sec3-cus-width {
    max-width: 381px;
    gap: 25px;
    color: #737373;
}

.section3 p {



    font-size: 14px;
    font-weight: 550;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
}

.section4 p {


    font-size: 14px;
    font-weight: 550;

    color: #737373;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;

}

.section3 span {
    font-size: 16px;
    color: #96BB7C;
}

.section4 span {
    font-size: 16px;
    color: #96BB7C;
}

.section3 h6 {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3px;
}

.sec4-cus-width {
    max-width: 507px;
    gap: 30px;
}



.section4 h1 {


    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;

}

.section5 {
    display: flex;
    flex-direction: column;
    gap: 112px;
    padding: 150px 0px;
}

.card-icon {
    max-width: 238px;
}


.section5 h2 {
    display: flex;
    padding: 2px 0px;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 12px;
    width: 50px;
    height: 23px;
    background-color: #2D4059;
    border-radius: 20px;
    gap: 2px;
    padding: 2px 5px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;


}

.section5 h6 {
    width: 203px;
    color: #96BB7C;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;

}

.section5 span {
    font-size: 16px;
    color: #FFCE31;
}


.section5 .card:hover img {
    scale: 1;

}

.overlspimg {
    position: absolute;
}

.section5 .card:hover {
    background-color: transparent;
}

.section5 .card:hover p {
    color: #737373;
}

.section5 .card {
    padding: 0;
    background-color: transparent;
    max-width: 239px;


}

.cardcontent {
    margin: 25px 0px;
    padding: 0px 10%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;
    gap: 10px;
}

.rating {
    display: flex;
    justify-content: space-between;

}

.section5 h5 {

    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;

}

.section5 .card p {
    max-width: 182px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;

}

.section5 h3 {
    color: #737373;
    width: 83px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;

}

.price {
    max-width: 108px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;
}


.section5 h3 span {
    font-size: 20px;
    color: #737373;
    font-weight: 100;
}

.section5 button {
    margin: 0;
    max-height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 141.14px;
    border-radius: 37px;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    padding-left: 11px;

}

.section5 button span {

    font-size: 30px;
    color: #96BB7C;
    transition: 0.4s;
}

.section5 button:hover span {
    color: #ffffff;
    transition: 0.4s ease-in-out;
}

.section5 h1 {

    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;

}

.section5 .explaination-para p {
    max-width: 500px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;


}

.section5 .sec2width {
    max-width: 693px;
    gap: 15px;
}

.section6 {
    display: flex;
    flex-direction: column;

    gap: 50px;
    padding: 160px 0px;
}

.section6 .cards-div {
    max-width: 1050px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.section6 .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    gap: 80px;
}

.section6 button {
    color: white;
    background-color: #96BB7C;
}

.section6 button:hover {
    scale: 1.2;
}

.section6 .card {
    max-width: 330px;
    display: flex;
    justify-content: center;
    background-color: #fff;
    box-shadow: 5px 15px 10px 5px #f5f5f5;
    padding: 50px 40px;
    position: relative;

}

.section6 .card {

    transition: 0.6s;
}

.section6 .card:hover .Symbol {
    scale: 1;
}

.section6 .Symbol {
    scale: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90px;
    max-height: 89px;
    border-radius: 50%;
    background-color: #E77C40;
    position: absolute;
    top: -30px;
    right: -30px;
    z-index: 0;
    transition: 0.6s ease-in-out;

}

.section6 .Symbol h6 {
    font-size: 16px;
    padding: 30px 20px;
    color: white;
}

.offer .offer-syambol i {
    font-size: 1px;
}

.offer-symbol1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96px;
    height: 96px;
    background-color: #96BB7C;
    border-radius: 50%;
}

.offer-symbol1 i {
    font-size: 50px;
    color: white;
    transition: 0.6s ease-in-out;
}

.offer-symbol {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2DC071;
    border-radius: 50%;
    width: 32px;
    height: 32px;

}

.offer ul li {
    display: flex;
    gap: 5px;
}

.Symbolcolor {
    background-color: #BDBDBD;

}

.offer i {
    color: white;

}

.section6 .offer-symbol i {

    font-size: 16px;
}

.section6 .offer ul {
    width: 600pz;
    padding: 0;
    display: flex;
    justify-content: start;
}


.section6 .offer ul li {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;

}

@keyframes heart-beat {
    0% {
        scale: 1;
    }

    50% {
        scale: 1.1;
    }

    100% {
        scale: 1;
    }
}

.section6 .card:hover i {
    animation: heart-beat 1s infinite;
    transition: 0.8s ease-in-out;
}

.section6 .card:hover li {
    color: white;
    transition: 0.4s ease-in-out;
}

.section6 .card li {

    transition: 0.6s ease-in-out;
}

.card-content {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    gap: 30px;
    max-width: 400px;
    position: relative;


}

.card-content h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
    transition: 0.5s ease-in-out;
}

.card-content h6 {
    width: 145px;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    transition: 0.5s ease-in-out;

}

.card-content .price {
    flex-direction: column;
    align-items: center;
    max-width: 80px;

}

.card-content .price h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #96BB7C;


}

.card-content .price h6 {
    max-width: 79px;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #8EC2F2;
}

.card-content p {
    max-width: 204px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;

}

.card-content button {
    width: 100%;
    gap: 10px;
}

.offer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    justify-content: space-between;
    max-width: 243px;
    gap: 15px;
}

.offer h6 {
    display: flex;
    align-items: center;

    width: 100%;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
}

.section6 .sec2width h3 {
    color: #96BB7C;

    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;

}

.section6 .card:hover {

    scale: 0.98;
    background-color: #2D4059;
    box-shadow: 5px 5px 20px 10px #e4e4e4;
    z-index: 1;
}

.section6 .card:hover h6 {
    color: #fff;
    transition: 0.5s ease-in-out;
}

.section6 .card:hover img {
    scale: 1;
}

.section6 .card:hover .price h6 {
    color: #8EC2F2;
}

.section6 .card:hover h3 {
    color: #fff;
    transition: 0.5s ease-in-out;
}

.sec7-review {
    max-width: 508px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.star-align {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    gap: 5px;
}

.sec7-review p {
    max-width: 320px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;


}

.sec7-review i {
    font-size: 18px;
    color: #F3CD03;

}

.sec7-review h5 {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;

}

.sec7 {
    max-width: 100%;
    justify-content: space-evenly;
    display: flex;
    gap: 10px;
}

.section7 h3 {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #96BB7C;
}

.section8 {
    display: flex;
    flex-direction: column;
    padding: 10rem 0;
    gap: 5rem;
    align-items: center;
    margin: auto;
    background-color: #FFF2F3;


}

.newsletter-section {
    background-color: #FFF2F3;
}


.sec8-content {
    width: Fixed (1, 050px)px;
    height: Hug (592px)px;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 10px;
    opacity: 0px;

}

.section8 .sec8-content p {
    width: 500px;
    height: 40px;

    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;

}

.section8 .sec8-content h3 {
    color: #96BB7C;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;

}

.section8 h6 {

    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;

}

.section8 h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
}

.section8 p {

    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;

}

.email {
    padding: 0px 10px;
    outline: none;
    border: none;
    width: 800px;
    height: 58px;
    transition: 0.5s ease-in;

}




.sec8 {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    max-width: 80vw;
    height: 58px;
    gap: 0px;
}

.email:focus~.btn {
    background-color: #81a866;
    transition: 0.2s;
    border-radius: 0px 10px 10px 0px;
}

.btn:hover {
    background-color: #81a866;
    transition: 0.2s;

}

.section8 button {
    margin: 0;
    border-radius: 10px;
    background-color: #96BB7C;
    color: white;

    height: 58px;
    opacity: 0px;
    border-radius: 1px;
}

/* footer */
.foot_box {
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    gap: 10px;
    flex-wrap: wrap;

}

.foot_box ul {
    display: flex;
    padding: 0;
    flex-direction: column;
    gap: 10px;


}

.foot_box ul li a {

    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #737373;
}

.foot_box ul h5 {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
    color: #252B42;

}

.foot_box li {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #737373;
}

.foot_box span {
    margin-right: 3px;
    font-size: 25px;
    margin-right: 3px;
    color: #96BB7C;
}

.copyright-sec {
    background-color: #FAFAFA;
}

.copyright-sec .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 74px;
    left: 195px;
    background-color: #FAFAFA;
    gap: 0px;
    opacity: 0px;

    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;


}

.social-media-link {
    display: flex;
    font-size: 20px;
    gap: 20px;

}

.social-media-link i {
    color: #96BB7C;
}

.copyright-sec h3 {
    color: #737373;
}

.bgimg {
    position: relative;
}

.overlap-icon {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);

}

.overlap-icon i {

    width: 2px;
    height: 2px;

}

.overlap-icon-holder {
    display: flex;
    gap: 15px;
    position: absolute;
    left: 50px;
    bottom: 15px;
}

.overlap-icon-holder1 {
    display: flex;
    gap: 15px;
    position: absolute;
    left: 18px;
    top: 18px;

}

.section5 .overlap-icon-holder .offer-symbol1 {
    width: 40px;
    height: 40px;
    background-color: white;

}

.section5 .overlap-icon-holder .offer-symbol1 i {
    font-size: 18px;
    color: black;
}

.offer-symbol2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 51px;
    height: 24px;
    top: 20px;
    left: 20px;
    padding: 4px 5px;
    border-radius: 5px;
    background-color: #E74040;
}

.offer-symbol2 h6 {
    color: white;
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 1px;
    text-align: center;


}

/* hamburger */
.ham-burger {
    position: absolute;
    right: 30px;
    display: none;

}

.ham-burger i {
    font-size: 25px;

}.close-button{
    display: none;
}

@media(max-width:1250px) {

    html {
        font-size: 12.3px;
    }

    .container {
        padding: 2vw;
    }
    .ham-burger{
        display: block;
    }
    .sec4-cus-width {
        max-width: 350px;
    }

    .section2 {
        padding: 26px 0;
        gap: 26px;

    }

    .section3 {
        padding: 26px 0;
        gap: 26px;
    }

    .section4 {
        padding: 26px 0;
        gap: 26px;
    }

    .section5 {
        padding: 26px 0;
        gap: 26px;
    }

    .section6 {
        padding: 26px 0;
        gap: 26px;
    }

    .navbar {
        margin: auto;
        max-width: 1222px;
        display: flex;
        height: 5.6rem;
        align-items: center;
        gap: 2rem;

    }

    .nav-sec2 ul li a {
        font-size: 0.6rem;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.20000000298023224px;
        text-align: center;
        color: #737373;
    }

    .navbar {
        margin: auto;
        max-width: 877px;
        display: flex;
        height: 5.6rem;
        align-items: center;
        gap: 2rem;
    }

    .nav-sec2 {

        position: fixed;
        top: 0;
        bottom:0;
        left: 544px;
        right: 0;
        background-color: #8EC2F2;
        z-index: 2;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        display: none
        ;
        

    }.nav-links ul{
        flex-direction: column;
        align-items: center;
    }.nav-butttons{
        flex-direction: column;
    }.nav-links ul li a{
        font-size: 16px;
    }
    
    .close-button{
        display: block;
        position: absolute;
        top: 30px;
        right: 30px;
        font-size: 30px;
    }
    #checkham:checked ~ .nav-sec2{
        display: block;
    }
}

@media(max-width :826px) {
    html {
        font-size: 12px;
    }

    .container {
        padding: 0 2VW;
    }

    .section2 {
        padding: 30px 0px;
    }

    .section3 {
        padding: 45px 0px;
        justify-content: center;
        gap: 10vw;
    }

    .sec4-cus-width {
        max-width: 379px;
    }

    .sec2width h1 {
        font-size: 30px;
    }

    .cards-div {
        gap: 12px;
        justify-content: center;

    }

    .section5 {
        align-items: center;
        padding: 36px 0px;
    }

    .section6 {
        padding: 15px 0px;
        align-items: center;
    }

    .section6 .cards-div {
        justify-content: center;
    }

   
}

@media(max-width :426px) {
    .picture-sec {
        display: none;
    }

    html {
        font-size: 10px;
    }

    .navbar {
        justify-content: center;
    }

    .explaination-left {

        gap: 1rem;
        align-items: center;
    }

    .explaination-left h6 {

        font-size: 3vw;
        text-align: center;

    }

    .explaination-left h1 {
        font-size: 2rem;
        line-height: 20px;

    }

    .explaination-left p {
        width: 60vw;
        font-size: 3.5vw;
        text-align: center;
        line-height: 20px;
    }

    .explaination-button {
        justify-content: center;
        flex-wrap: wrap;

    }

    .banner {
        padding: 20px 0px;
    }

    .explaination-button {
        width: 30vw;
    }

    .explaination-button button {
        padding: 5px 5px;
        font-size: 3vw;
    }

    .buttontwo {
        line-height: 16px;
    }

    .section3 {
        justify-content: center;
        padding: 5vw 0;
        gap: 15vw;
    }

    .section5 .explaination-para p {
        text-align: center;
    }

    .section2 {
        gap: 15vw;
        padding: 49px 0px;
    }

    .cards-div {
        gap: 15px;
    }

    .section5 {
        padding: 5vw 0;
    }

    .section6 {
        padding: 5vw 0;
    }

    .sec2width {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .section6 .cards-div {
        justify-content: center;
    }

    .section6 .sec2width h3 {
        text-align: center;
    }

    .sec7 {
        flex-wrap: wrap;
        gap: 10vw;
    }

    .videocard img {
        max-width: 80vw;
    }

    .section8 h1 {
        font-size: 6vw;
    }

    .explaination-para {
        max-width: 80vw;
        font-size: 3vw;
        text-align: center;

    }

    .sec8 {
        width: 88px;
        height: 1px;
    }

    .section8 .sec8-content p {
        max-width: 70vw;

    }

    .section8 {
        display: flex;
        flex-direction: column;
        padding: 7rem 0;
        gap: 10rem;
        align-items: center;
        margin: auto;
        background-color: #FFF2F3;
    }

    .email {
        height: 33px;
    }

    .section8 button {
        height: 33px;
        display: flex;
        align-items: center;
        padding: 3px;
    }

    .foot_box {
        flex-wrap: wrap;
        padding: 20px 22px;
        gap: 9vw;
        justify-content: space-between;
    }

    .foot_box ul h5 {
        line-height: 1vw;
        font-size: 4vw;
    }

    .foot_box ul li a {
        font-size: 3vw;
    }

    .foot_box li {
        font-size: 3vw;
        gap: 1vw;
    }

    .foot_box ul {
        gap: 0;
    }

    .copyright-sec h3 {
        font-size: 5vw;
    }

    .copyright-sec h3 {
        font-size: 3vw;

    }

    .copyright-sec .container {
        padding: 0 5vw;
        height: 0;
        justify-content: center;
    }

    .foot_box span {
        font-size: 5vw;
    }
}